.floatleft {
  float: left;
  width: 400px;
/*   border: 5px solid red; */
  margin: 0 1rem 1rem 0;
}

article {
  width: 30rem;
  border: 3px solid red;
  text-align: center;
  margin: 0 auto;
}

.floatright {
  float: right;
}

article:after {
    content: "";
    display: table;
    clear: both;
}