/* my first css */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fae1dd;
}

img {
  border: 10px solid #fec5bb;
}

h1 {
  border: 5px dotted #cfbaf0;
  text-align: center;
  /* background-color: #d8e2dc; */
  /* border: 5px dashed blueviolet; */
}

blockquote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
}

cite {
  font-size: 1.5rem;
}

.bigbold {
  font-weight: bold;
  font-size: 1.3rem;
}

/* a tag Pseudo-classes */
a:link {
  font-weight: bold;
  text-decoration: none;
  color: #a3c4f3;
}

a:visited {
  color: #90dbf4;
  font-size: 2rem;
}

a:hover {
  color: orange;
  text-decoration: none;
  background-color: white;
}

a.harvard:link {
  color: maroon;
}

/* 이건 적용 X */
.havard {
  color: moccasin
}


